
/* ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: filter 1s;
}

.ex-4-square:hover {
    filter: opacity(0);
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: all 1s;
}

.ex-5-square:hover {
    margin: -10px;
    height: 120px;
    width: 120px;
}

.ex-5-square:active {
    margin: 35px;
    height: 30px;
    width: 30px;
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.8) brightness(1) sepia(0.5);
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: saturate(0.3) contrast(1) sepia(0.3) brightness(1);
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    margin: 0;
    width: 600px;
    border-radius: 30px;
    filter: grayscale(0.5) sepia(0.5);
}

/* ESERCIZIO 10 */
.ex-10-icon {
    animation: rotation_Complete 1s reverse linear infinite;
}

@keyframes rotation_Complete {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover {
    animation: animation_11 1.8s linear;
}

@keyframes animation_11 {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(320deg);
    }
    100% {
        transform: rotate(0deg);
    }
}