
/* ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: filter 1s;
}

.ex-4-square:hover {
    filter: opacity(0);
}